.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.product-header {
    display: flex !important;
    align-items: center;
}

.Polaris-Thumbnail {
    margin-right: 10px;
}

.ui.table tfoot th {
    text-align: center;
}

.Polaris-Card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.Polaris-Card__Header {
    text-align: center;
}

.Polaris-Card__Section {
    text-align: center;
}

.Polaris-Card__SectionHeader {
    text-align: center;
}

.Polaris-Card__Section > p {
    text-align: center;
}

.Polaris-Card__Section > span {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
