#Accept-Payment > .Polaris-Button__Content > .Polaris-Button__Text {
    display: flex;
    align-items: center;
}

#Accept-Payment > .Polaris-Button__Content > .Polaris-Button__Text > .Polaris-Icon {
    margin-right: 10px;
}

.authentication-container > .Polaris-Card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.actions-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accept:hover {
    color: green;
    transform: scale(1.7);
    transition: all 0.1s ease-in;
}

.branch-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Create-Transaction > .Polaris-Button__Content > .Polaris-Button__Text {
    display: flex;
    align-items: center;
}

#Create-Transaction > .Polaris-Button__Content > .Polaris-Button__Text > .Polaris-Icon {
    margin-right: 10px;
}

.decline:hover {
    color: red;
    transform: scale(1.7);
    transition: all 0.1s ease-in;
}

.edit-branch:hover {
    color: green;
    transform: scale(1.7);
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.error-notification {
    position: absolute;
    color: red;
}

.form-controll {
    position: relative;
    margin-bottom: 30px;
}

.form-controll > label {
    position: absolute;
    top: 7px;
    left: 36px;
    pointer-events: none;
    transition: all 0.2s ease-in;
}

.form-controll > input {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    outline: none;
    border: 0.2px solid rgba(0, 0, 0, 0.3);
    padding-left: 36px;
}

.form-controll > i {
    position: absolute;
    top: 7px;
    left: 10px;
}

.form-controll > i.show-eye {
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 10px;
    left: unset;
    transition: all 0.2s ease-in;
}

.form-controll > i.show-eye:hover {
    cursor: pointer;
    color: #6774c8;
    transition: all 0.2s ease-in;
}

.form-controll > i.not-show-eye {
    display: none;
    position: absolute;
    top: 7px;
    left: unset;
    right: 10px;
    transition: all 0.2s ease-in;
}

.form-controll:focus-within label,
.form-controll > label.active {
    transform: scale(0.75);
    top: -10px;
    transition: all 0.2s ease-in;
    background: #ffffff;
    color: #6774c8;
}

.form-controll > input:focus {
    border: 1px solid #6774c8;
    transition: all 0.2s ease-in;
}

.form-controll > input:focus + i {
    color: #6774c8;
    transition: all 0.2s ease-in;
}

#Logout > .Polaris-Button__Content > .Polaris-Button__Text {
    display: flex;
    align-items: center;
}

#Logout > .Polaris-Button__Content > .Polaris-Button__Text > .Polaris-Icon {
    margin-right: 10px;
}

.remove-branch:hover {
    color: red;
    transform: scale(1.7);
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.product-header {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
}

.product-header > .Polaris-Thumbnail {
    margin-right: 10px;
}
